parser: babel-eslint
globals:
  $: false
extends:
  - plugin:import/errors
  - plugin:import/react
  - plugin:import/warnings
  - standard
plugins:
  - import
settings:
  import/ignore:
    - node_modules
rules:
  array-bracket-spacing:
    - 2
    - "never"
  block-spacing:
    - 2
    - "never"
  eol-last: 0
  newline-before-return: 2
  newline-after-var:
    - 2
    - "always"
  no-console:
    - 1
    - allow:
      - "error"
  no-lonely-if: 2
  no-trailing-spaces:
    - 2
    - skipBlankLines: true
  no-var: 2
  object-curly-spacing:
    - 2
    - "never"
  padded-blocks:
    - 2
    - blocks: "never"
      switches: "never"
      classes: "never"
  prefer-const:
    - 2
    - destructuring: "any"
  prefer-rest-params: 2
  sort-imports:
    - 2
    - ignoreCase: true
      memberSyntaxSortOrder:
        - "none"
        - "all"
        - "single"
        - "multiple"
  sort-vars:
    - 2
    - ignoreCase: true
  import/no-named-as-default: 0